@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
  --containerLg: 90%;
  --containerMd: 90%;
  --containerSm: 94%;
  --transition: all 0.4s ease-in-out;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 auto;
  width: 80%;
  height: 2000px;
  flex-wrap: wrap;



}


.contener {


  padding: 20px;

}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  margin: 0 auto;
  width: 90%;

}

.dropdown {
  position: relative;
  display: inline-block;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  width: 236px;
  height: 26px;
  align-items: center;
}

.link {

  display: flex;
  gap: 15px
}

.link :hover {
  color: white;
}

.link2 {
  display: flex;
  gap: 40px;
  font-size: 12px;
  color: silver;
}

.link2 :hover {
  color: white;
}

.fa-bars-staggered {
  font-size: 30px;
  display: none;
}

/* ============ navbar end ============= */
.header-title {
  width: 450px;
  height: 350px;
  display: flex;
  align-items: center;
  font-size: 50px;
  background-color: white;
  margin-top: 30px;
}

.main-text {
  width: 540px;
  height: 260px;
  color: #83888F;
  font-size: 16px;
}

.imeg1 {
  width: 540px;
  height: 600px;
}

.travel {
  font-size: 40px;
  width: 350px;
  height: 84px;
}

.btn {
  width: 130px;
  height: 50px;
  background-color: rgba(32, 58, 76, 1);
  color: wheat;
  font-size: 12px;
}

.btn:hover {
  background-color: silver;

}

.btn2 {
  width: 202px;
  height: 48px;
  color: silver;
  background-color: white;
  border: 1px solid black;
  margin-left: 410px;
  margin-top: 19px;

}

.btn2:hover {
  background-color: black;
  color: white;
  border: none;


}

.btn3 {
  width: 202px;
  height: 48px;
  color: silver;
  background-color: white;
  border: 1px solid black;
  margin-left: 410px;
  margin-left: 1px;
  margin-top: 160px;

}

.btn33 {
  margin-top: -150px;
}

.btn3:hover {
  background-color: black;
  color: white;
  border: none;
}

.menu {
  display: inline;
  margin-left: -20px;
  margin-top: -200px;
}

.menu-button {
  width: 50px;
  height: 50px;
  background-color: rgba(32, 58, 76, 1);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.menu-button:hover {
  background-color: silver;
}

.menu-list {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 5px;
  padding: 0;
  list-style-type: none;
  z-index: 1000;

}

.menu-list a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.menu-list a:hover {
  background-color: #f0f0f0;
}

.menu:hover .menu-list {
  display: block;
}

.header-text {

  font-size: 16px;
  color: black;
  width: 430px;
  height: 104px;
  margin-left: 120px;
}

.title {
  background-image: url(./jpg/beckgraund\ imeg\ 1.jpg);
  width: var(--containerLg);
  margin: 0 auto;
  border-radius: 12px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cart {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  margin: 0 auto;
  width: var(--containerLg);
  align-items: center;
}

.cart:hover {

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

}

.cart2 {
  justify-content: space-between;
  display: flex;
  padding: 13px;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  gap: 220px;
  margin-top: 450px;
}

.project {
  margin-top: -400px;
}

.coffee {
  width: var(--containerLg);
  height: 474px;
  background-color: #333D4B;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.coffee-text {
  font-size: 40p;
  color: white;
}

.coffee-text2 {
  font-size: 16px;
  width: 410px;
  height: 260px;
  color: #83888F;
}

.coffee2 {

  width: var(--containerLg);
  height: 344px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.good {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer {
  background-color: rgba(32, 58, 76, 1);
  display: flex;
  width: 90%;
  height: 80px;
  gap: 790px;
  align-items: center;
  margin: 0 auto;
  margin-top: 230px;
  justify-content: space-around;
}

.footer-imeg2 {
  display: none;
  align-items: center;
  margin-left: -400px;
  gap: 30px;
}

@media only screen and (max-width:768px) {
  body {
    width: var(--containerMd);
  }

  .link {
    display: none;
  }

  .fa-bars-staggered {
    display: inline-block;
  }

  .header-text {
    width: 290px;
  }

  .imeg1 {
    width: 281px;
    height: 420px;
    margin-left: -20px;
  }

  .imeg2 {
    width: 385px;
    height: 460px;
    margin-top: -180px;
  }

  .main-text {
    width: 250px;
    height: 350px;
    font-size: 15px;
  }

  .cart {
    gap: 30px;
  }

  .coffee {
    flex-direction: column-reverse;
    margin-top: 105px;
  }

  .imeg2 {
    width: 443px;
    height: 300px;
  }

  .coffee-text {
    margin-left: 40px;
    font-size: 32px;

  }

  .coffee-text2 {
    margin-left: 20px;
  }
}

@media only screen and (max-width:502px) {
  body {
    height: 3500px;
  }

  .title {
    width: 311px;
    height: 271px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .logo {
    width: 103px;
    height: 16px;
  }

  .fa-bars-staggered {
    font-size: 16px;
  }

  .header-title {
    font-size: 40px;
    margin-top: -10px;
    width: 311px;
    margin-left: 10px;
  }

  .menu-button {
    margin-left: 10px;
  }

  .dropdown {
    display: inline;
  }

  .imeg1 {
    width: 311px;
    margin: 0 auto;
  }

  .cart {
    flex-direction: column;
    margin-top: 190px;
  }

  .cart2 {
    flex-direction: column;
    margin-top: -500px;
    align-items: center;
    justify-content: end;
  }

  .cart3 :hover {

    box-shadow: 0px 5px 15px rgba(246, 11, 11, 0.916);

  }

  .project {
    margin-top: 300px;
    margin-left: -30px;
  }

  .project2 {
    margin-top: -300px;
  }

  .imeg1 {
    margin-top: 130px;
  }

  .imeg2 {
    width: 230px;
    height: 145px;
    margin-top: -123px;
  }

  .btn2 {
    margin-top: 140px;
    width: 175px;
    height: 48px;


  }

  .btn33 {
    margin-top: -552px;
    width: 162px;
    height: 48px;
    margin-left: -55px;
  }

  .btn3 {

    width: 175px;
    margin-left: 10px;
  }

  .travel {
    align-items: center;
    width: 150px;
    font-size: 20px;

  }

  .coffee-text {
    margin-top: -120px;
    font-size: 24px;
    width: 270px;
    height: 50px;
    margin-left: 35px;
    align-items: center;
  }

  .coffee-text2 {
    font-size: 15px;
    width: 250px;
    height: 200px;
    margin-left: 40px;
  }

  .coffee2 {
    flex-direction: column;
  }

  .footer {
    margin-top: 50px;
    flex-direction: column;
    height: 354px;
    width: 375px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

  .footer-imeg {

    width: 107px;
    height: 24px;
  }

  .good {
    margin-top: 590px;
    justify-content: center;
    flex-direction: column;

  }

  .link2 {
    width: 200px;
    height: 40px;
    flex-direction: column;
    color: white;
    align-items: center;
  }
  
  .footer-imeg2 {
    display: inline;
    margin-left: 18px;
    
  }
}